<html>
    <head>
        <title>404</title>  
    </head>
    <body>
        <h1>404</h1>
        <p>Page not found</p>
    <div class="container-fluid">
      <div class="text-center mt-5">
        <Link to={"/"}>
          <img
            src="/assets/img/key-flow-logo-black-transparent.png"
            style={{ width: "250px", display: "block", margin: "10px auto" }}
          />
        </Link>
        <div class="error mx-auto" data-text="404">
          <p class="m-0" style={{ color: uiGrey2 }}>
            404
          </p>
        </div>
        <p class="text-black mb-5 lead">Page Not Found</p>
        <p class="text-black mb-0">
          It looks like you found a glitch in the matrix...
        </p>
      </div>
    </div>'
    </body>
</html>